body {
	font-family: 'Aldrich', cursive;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	background-image: url("@{imagePath}noise.png"), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 750, color-stop(0%, #92a4de), color-stop(100%, #010a26));
	background-image: url("@{imagePath}noise.png"), -moz-radial-gradient(top center, circle, #92a4de 0%, #010a26 750px);
	background-image: url("@{imagePath}noise.png"), radial-gradient(top center, circle, #92a4de 0%, #010a26 750px);
	min-height: 100%;
	color: #fff;
}

section {
	padding: 40px 0;
}

section h1 {
	color: #aabbf1;
	margin: 10px 0 10px 0;
}

section a,
section a:hover {
	color: #777;
}

p {
	font-size: 18px;
	line-height: 23px;
}

img.pull-right {
	margin: 25px 0 25px 25px;
}

img.pull-left {
	margin: 0 25px 0 25px;
}