body {
  background: url("../images/bgnoise_lightgreen.png") repeat 0 0;
}
#main {
  width: 960px;
  margin: 0 auto;
}
.span_1,
.span_2,
.span_3,
.span_4,
.span_5,
.span_6,
.span_7,
.span_8,
.span_9,
.span_10,
.span_11,
.span_12,
.span_13,
.span_14,
.span_15,
.span_16,
.span_17,
.span_18,
.span_20,
.span_21,
.span_22,
.span_23,
.span_24 {
  min-height: 76px;
  background: url("../images/bgnoise_darkgreen.png") repeat 0 0;
}
.row p {
  padding: 15px;
}
